:root {
    --color-black-100: #191919;
    --color-black-50: #353535;
    --color-white-100: #fff;
    --color-white-70: #f6f6f6;
    --color-white-50: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white-70);
    font-family: "Roboto", sans-serif;
}